* {
    font-family: 'Libre Barcode 39 Text', cursive;
}

h1 {
    text-decoration: underline;
    text-decoration-color: blueviolet;
    font-size: 5em;
}

li {
    font-weight: 100;
}

.heading {
    text-shadow: crimson 2px 5px;
    text-transform: uppercase;
    /* not so apparent because of excellent choice of font */
}